{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="row">
    <div class="form-wrap">


		<form role="form" action="{{ url_for('register')}}" method="post">
			<h3>Please Sign Up <small>It's free and always will be.</small></h3>
			<hr class="colorgraph">
            {% if message %}
                <p>{{message}}</p>
                {% endif %}
			<div class="row">

              
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" value="{{request.form['first_name']}}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" value="{{request.form['last_name']}}" placeholder="Last Name" tabindex="2">
					</div>
				</div>
			</div>

			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" value="{{request.form['email']}}" placeholder="Email Address" tabindex="4">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
					</div>
				</div>
			</div>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-lg" tabindex="7"></div>

			</div>
		</form>

	</div>
</div>

{% endblock %}
