{% extends "layout.html" %}

{% block title %} Semester {% endblock %}

{% block body %}
    
    <form action="{{url_for('semester')}}" class="form-inline" method="post">
        <input class="form-control" type="text" name="title" placeholder="eg. Semester One" />
        <button class="btn btn-primary" name="submit">Add</button>
    </form>
    <br>

    
        
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            {% for data in datas %}
            <tr>
                <th>{{data["title"] }}</th>
                
                <td class="table_width"><a class="btn btn-success btn-sm" href="{{url_for('update', sem_id= data['id'])}}">Edit</a></td>
                <td class="table_width"><a class="btn btn-danger btn-sm" href="{{url_for('delete', sem_id= data['id'])}}" onClick="return confirm('Are you sure?');">Delete</a></td>

            </tr>
            {% endfor %}

        </table>

        
    
{% endblock %}