{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block body %}
       
    
    
<div>
    <h3>{{subject["subject_title"]}}</h3>
    {% if message %}
            <p>{{message}}</p>
    {% endif %}
    
    
    {% if assignments %}
       
    <table class="table">
           
            
            <thead class="thead-light">
                <tr>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            {% for assignment in assignments %}
            <tr>
                <th>{{assignment["assign_title"] }}</th>
                <td>{{assignment['due_date']}}</td>
                
                <td class="table_width"><a class="btn btn-success btn-sm" href="{{url_for('update', assign_id= assignment['assign_id'])}}">Edit</a></td>
                <td class="table_width"><a class="btn btn-danger btn-danger btn-sm" href="{{url_for('delete', assign_id= assignment['assign_id'])}}" onClick="return confirm('Are you sure?');">Delete</a></td>


            </tr>
            {% endfor %}
        
        </table>
    {% else %}
        
        <a href="{{url_for('assignment')}}">Add Assignment</a>
     {% endif %}
    
</div>
{% endblock %}